## Terraless Function Event HTTP

resource "aws_api_gateway_rest_api" "terraless-api-gateway" {
  name        = "{{ .Config.ProjectName }}-{{ .Arguments.Environment }}"
  description = "Terraless Api Gateway for {{ .Config.ProjectName }}-{{ .Arguments.Environment }}"
}

resource "aws_api_gateway_deployment" "terraless-api-gateway-v1" {
  rest_api_id = "${aws_api_gateway_rest_api.terraless-api-gateway.id}"
  stage_name = "v1"
  stage_description = "Deployed at {{ currentTime }}"
}

output "api-gateway-invoke-url" {
  value = "${aws_api_gateway_deployment.terraless-api-gateway-v1.invoke_url}"
}
